{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}
    <h1>Set Blog Limit</h1>
    <br>
    <label>Current Blog Limit: {{ current_limit }}</label>
    <br>
    <br>
    <form method="post" name="set_limit" action="/app_dev.php/admin/blogslimit">
        <input type="number" name="blogs_limit" required>
        <input type="submit" value="Set limit">
    </form>

{% endblock %}