<ul>
    <li class="current first">
        <a href="{{ url('sonata_admin_dashboard') }}">Home</a>
    </li>
    <li class="current_ancestor">
        <a href="{{ url('admin_blogger_blog_user_create') }}">User</a>
        {#<ul class="menu_level_1">#}
            {#<li class="current first last">#}
                {#<a href="#route_to/edit_profile">Edit profile</a>#}
            {#</li>#}
        {#</ul>#}
    </li>
</ul>