{#<form action="{{ path('BloggerBlogBundle_comment_create', { 'blog_id' : comment.blog.id } ) }}"#}
<form onsubmit="return false;"
      method="post" {{ form_enctype(form) }} class="blogger">
    {{ form_widget(form) }}
    <p>
        <input id="add-comment" type="submit" value="Добавить комментарий">
    </p>
</form>

<div id="last" align="center">
    <form method="POST" class="add_comment" name="add_comment" id="hint">
        <div class="close_hint">Закрыть</div>
        <textarea cols="68" rows="5" name="user_text"></textarea>

        <div style="margin:5px; float:right;">
            <input type="submit" value="Отправить">
        </div>
    </form>
</div>